@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, black;
}

@theme {
  --color-custom-primary: #C2F800;
  --color-custom-secondary: #9CA3AF;
  --color-custom-primary-bg: #1A2312;
  --font-oswald: var(--font-oswald-next);
}
html{
  scroll-behavior: smooth;
}
