@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, black;
}

@theme {
  --color-custom-primary: #C2F800;
  --color-custom-secondary: #9CA3AF;
  --color-custom-primary-bg: #1A2312;
}
/* @plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #000000;
  --color-base-200: #0d0f12;
  --color-base-300: #1c1f26;
  --color-base-content: #ffffff;

  --color-custom-primary: #C2F800;
  --color-custom-secondary: #9CA3AF;
  --color-custom-primary-bg: #1A2312;
} */